{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--<div class="card" style="width: 80rem; margin:auto;">-->
<!--<form method="post" enctype="multipart/form-data">-->
<!--  {% csrf_token %}-->
<!--    <div>-->
<!--        {{form|crispy}}-->
<!--        <center><button type="submit" class="btn btn-primary">send</button></center>-->

<!--    </div>-->

<!--</form>-->
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
        {{form|crispy}}
            <center><button type="submit" class="btn btn-primary">submit</button></center>
            </form>
    </div>
</div>
{% endblock %}
</div>