{% extends 'parent.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">HOSTEL DETAILS:</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl.no</th>
                            <th>HOSTEL NAME</th>
                            <th>LOCATION</th>
                            <th>FEE DETAILS</th>
                        <th>TOTAL ROOMS</th>
                            <th>ROOM FACILITIES</th>
                            <th>CONTACT NUMBER</th>
                            <th>HOSTEL IMAGE</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                         <td>{{forloop.counter}}</td>
                         <td>{{i.hostel_name}}</td>
                         <td>{{i.location}}</td>
                         <td>{{i.Fee_details}}</td>
                         <td>{{i.total_rooms}}</td>
                         <td>{{i.room_fecilities}}</td>
                            <td>{{i.contact_number}}</td>
                            <td><img src="{{i.hostel_image.url}}"></td>

                            {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
