{% extends 'student.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ATTENDANCE DETAILS:</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl.no</th>
                            <th>DATE</th>
                            <th>STUDENT NAME</th>
                            <th>ATTENDANCE STATUS</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                         <td>{{forloop.counter}}</td>
                         <td>{{i.date}}</td>
                         <td>{{i.student}}</td>
                         <td>{{i.attendance_status}}</td>




                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}